/* src/Header.css */

.header {
  background-color: #003049; /* Fondo oscuro para el encabezado */
  color: #fff; /* Texto claro */
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-image {
  width: 40px; /* Ajusta el tamaño del logo según tus necesidades */
  height: auto;
}

.header-logo {
  font-style: italic;
  font-size: 1.5rem;
  font-weight: lighter;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-weight: normal;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #f04e50; /* Color para el enlace activo */
}

.donate-button {
  background-color: #ffc700; /* Color amarillo del botón */
  color: #003049;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.donate-button:hover {
  background-color: #e0b000; /* Color al pasar el ratón */
}
